<script lang="ts" setup>
	
</script>

<template>
	<main>
		<FormMessage />
		<BoardMessages />
	</main>
</template>

<style>
	:root {
		--color01: rgba(252, 163, 17, 1);
		--color02: rgba(0,0,0,1);
		--color03: rgba(20,33,61,1);
	}
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	html {
		font-size: 10px;
	}
	body {
		min-height: 100vh;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, var(--color02) 0%, var(--color03) 100%);
	}
	body, button, input {
		color: var(--color01);
		font-size: 2rem;
		font-family: consolas;
	}
	input, button {
		padding: 1rem 2rem;
		border: none;
		background: rgba(255,255,255,.1);
	}
	input:focus, button:focus {
		outline: none;
	}
	main {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 1rem;
	}
</style>