<script lang="ts" setup>
	let messenger = useMessenger()
	messenger.fetch()
</script>

<template>
	<section class="board">
		<article class="bubble" v-for="doc in messenger.list" :key="doc">
			<header>
				<section class="left">
					{{ doc.nick }}
				</section>
			</header>
			<section class="message">{{ doc.message }}</section>
		</article>
	</section>
</template>

<style scoped>
	.board {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.board .bubble {
		background: rgba(255,255,255,.15);
		padding: 2rem;
		border-radius: .3rem;
		display: grid;
		gap: 2rem;
	}
	.board .bubble:hover {

	}
	.board .bubble header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		opacity: .7;
	}
	.board .bubble header .left {}
	.board .bubble .message {}
</style>
