<script lang="ts" setup>
	let messenger = useMessenger()
	let form = reactive({
		nick: "",
		message: "",
	})

	const save = () => {
		if(form.nick && form.message) {
			messenger.save(form)
			form.nick = ""
			form.message = ""
		}
	}
</script>

<template>
	<header class="form">
		<input type="text" v-model="form.nick" placeholder="Nick" @keypress.enter="save()">
		<input type="text" v-model="form.message" placeholder="Message" @keypress.enter="save()">
		<button @click="save()">Send</button>
	</header>
</template>

<style scoped>
	.form {
		display: grid;
		gap: 1rem;
	}
	@media(min-width: 800px) {
		.form {
			grid-template-columns: 2fr 5fr 1fr;
		}
	}

	.form button {
		color: rgba(252, 163, 17, .6);
		transition: .5s;
		flex-basis: 5rem;
		flex-grow: 1;
	}
	.form button:hover {
		cursor: pointer;
	}
	.form input, .form button {
		border-radius: .3rem;
	}
</style>
